/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: crimson;
    --secondary-color:black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    top: 0;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
header img { 
    max-width: 100px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.nav-menu{
display: flex;
list-style-type: none;
gap: 10px;
}
.nav-menu a{
    color:black;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}
.nav-menu a:hover{
    color:var(--primary-color);
    transform: .5s;
}
.nav-icon{
    display:flex;
    align-items: center;
}
.nav-icon i{
    color:black;
    cursor: pointer;
    margin-right: 15px;
 }
 .nav-icon i:hover{
    color: black;
    transition: .5s;
 }

 /*main alanı*/
.main-home{
    width: 100%;
    height: 100vh;
    background: url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    align-items: center;
}
.main-text{
    padding-left: 30px;
}
.main-text h5{
color: var(--primary-color);
font-size: 20px;
}
.main-text h1{
    font-size: 60px;
}
.main-text p{
    color: brown;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    color: var(--secondary-color);
    border: 2px solid black;
    padding: 7px;
    text-decoration: none;
  
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.main-btn:hover{
   background-color: brown;
   color: white;
   transition: .7s;
}

/*products*/
.row{
    position: relative;
}
.center-text h2{
    text-align: center;
    margin: 20px;
}
.center-text span{
    color: var(--primary-color);
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 20px;
}
.row img{
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.row img:hover{
    scale: 0.95;
    transition: .5s;
    cursor: pointer;
}

.product-text h5{
background-color: var(--primary-color);
color: white;
padding: 3px 10px;
text-transform: uppercase;
position: absolute;
top:13px;
left: 20px;
}
.heart-icon {
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: brown;
    cursor: pointer;
}
.rating i{
    color: orange;
    font-size: 20px;
}
.price h4{
    color: grey;
    font-size: 20px;
}
.price p{
    color: brown;
    font-weight: bold;
    font-size: 20px;
}
/*client*/
.client-reviews{
    background-color: #bab9b9;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.reviews img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.reviews{
    text-align: center;
}
.reviews h3{
    font-size: 25px;
    text-align: center;
}
.reviews p{
    color: gray;
    font-style: italic;
}
/*update*/

.up-center-text h2{
text-align: center;
font-size: 25px;
margin: 30px;
}
.cart img{
    width: 380px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.update-cart{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(380px ,auto));
    gap: 20px;
    text-align: center;
}
.cart h5,p{
    color: grey;
}
.cart h4{
    margin-bottom: 18px;
}
.top-icon{
    text-align: center;
    margin: 30px;
}
.top i{
    font-size: 20px;
    color: var(--secondary-color);
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px;
}
.top i:hover{
    color: var(--primary-color);
    border:1px solid crimson;
    transition: .5s;
    scale: 0.95;
}


/*location*/
.location{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.location p{
  color: grey;
  font-style: italic;
}

/*contact*/

.contact{
    background-color: rgb(223, 222, 222);  
   margin-top: 30px;
   text-align: center;
   
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px ,auto));
    margin-top: 20px;
    justify-content: space-around;
}
.first-info, .second-info, .thirt-info, .fourth-info{
    width: 200px;
    display: flex;
    flex-direction: column;
 
}
.first-info a, .second-info a, .thirt-info a, .fourth-info a {
    text-decoration: none;
    color: grey;
    margin: 5px;
}
.contact-info h4{
    text-transform: uppercase;
}
.first-info a:hover, .second-info a:hover, .thirt-info a:hover, .fourth-info a:hover{
    color: brown;
    cursor: pointer;
}
.first-info img{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
/*social*/
.social-icon{
   background-color: rgb(192, 56, 56);
   padding: 15px;
   width: 100%;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   gap:20px;
}
.social-icon i{
    color: rgb(91, 89, 89);
    font-size: 20px;
}
.social-icon i:hover{
    color: white;
}

/*responsive*/

@media (max-width:700px){
    header{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .main-text{
        font-size: 30px;
        transition: .5s;
    }
    .contact-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        padding: 15px;
    }
}
@media (max-width:600px){
    .nav-menu{
        position: absolute;
        right: 0;
        height: 100vh;
        width: 100px;
        background-color:rgb(194, 116, 116);
        color: white;
        top:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:30px;
        transition: .5s;
        opacity: 0.8;
    }
}
